.contact {
    padding: 64px 16px 88px 16px;
    background-color: $blue-light;

    &__header {
        @include section-h2($text-dark);
        margin: 0;
    }

    &__description {
        @include section-description($text-default);
        margin: 32px 0 0 0;
    }

    &__links {
        margin-top: 56px;
    }

    &__mail {
        @include mail-link;
        margin: 64px auto 0 auto;
    }
}

.socials {
    display: flex;
    justify-content: center;

    &__container {
        background-color: $white;
        width: 48px;
        height: 48px;
        display: inline-block;
        border-radius: 50%;
    }

    &__container:first-of-type {
        margin-right: 24px;
    }

    &__icon {
        transform: translate(50%, 50%);
    }
}

@media (min-width: $desktop) {
    .contact {
        padding: 80px 32px 176px 32px;

        &__header {
            @include section-h2-desktop;
        }
    
        &__description {
            @include section-description-desktop;
            margin: 40px 0 0 0;
        }

        &__links {
            margin: 128px auto 0 auto;
            width: 520px;
            display: flex;
            justify-content: space-between;
        }

        &__mail {
            margin: 0;
        }
    }
}