.hero {
    padding: 82px 16px 88px 16px;
    
    &__img-container {
        width: 212px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    &__img {
        width: 128px;
        height: 128px;
        border: 16px solid $blue-lightest;
        border-radius: 50%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    &__bubble {
        display: none;
      }

    &__header {
        color: $text-dark;
        font-size: 26px;
        font-weight: bold;
        line-height: 32px;
        text-align: center;
        margin: 24px 0 0 0;

        &-special {
            color: $blue;
        }
    }

    &__description {
        @include section-description($text-default);
        margin: 16px 0 0 0;
    }

    &__link {
        color: $link;
        font-weight: bold;
        text-decoration: none;
    }

    &__contact {
        @include mail-link;
        margin: 48px auto 0 auto;
    }
}

@media (min-width: $tablet) {
    .hero {
        max-width: 768px;
        margin: 0 auto;
    }
}

@media (min-width: $desktop) {
    .hero {
        padding: 106px 16px 176px 16px;
        max-width: 840px;

        &__img-container {
            position: relative;
        }

        &__img {
            width: 192px;
            height: 192px;
            border: 24px solid $blue-lightest;
        }

        &__bubble {
            display: block;
            width: 118px;
            height: 72px;
            padding: 16px 20px;
            background-color: $blue;
            color: $white;
            font-size: 32px;
            line-height: 40px;
            font-weight: bold;
            border-radius: 20px;
            position: absolute;
            left: 210px;

            &::after {
                content: url('../assets/img/speech-cloud.svg');
            }
        }

        &__hi {
            display: flex;
        }

        @keyframes wave {
            0% {
                transform: rotate(-10deg);
            }

            50% {
                transform: rotate(30deg);
            }

            100% {
                transform: rotate(-10deg);
            }
        }

        &__hand {
            animation: wave 1.5s ease-in-out infinite;
            font-weight: 100;
        }

        &__header {
            font-size: 32px;
            line-height: 40px;
            max-width: 700px;
            margin: 48px auto 0 auto;
            position: relative;

            &::before {
                content: url('../assets/img/left-brace.svg');
                position: absolute;
                top: -10px;
                left: -125px;
            }

            &::after {
                content: url('../assets/img/right-brace.svg');
                position: absolute;
                top: -10px;
                right: -125px;
            }
        }

        &__description {
            @include section-description-desktop;
            margin: 24px 0 0 0;
        }

        &__contact {
            margin: 68px auto 0 auto;
        }
    }
}