.projects {
    padding: 64px 16px 88px 16px;

  &__header {
      @include section-h2($text-dark);
      margin: 0;
  }

  &__description {
      @include section-description($text-default);
      margin: 32px 0 0 0;
  }

  &__grid {
      margin: 46px auto 0 auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 24px;
  }
}

.repo {
    background-color: $repo-bg;
    border-radius: 16px;
    min-width: 100%;
    min-height: 320px;
    overflow: hidden;

    &__top {
        padding: 16px;
        background-color: $repo-top;
        display: flex;
        justify-content: flex-start;
        border-radius: 16px;

        &-circle {
            background-color: $grey-cirle;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 8px;
            padding: 0px;
        }
    }

    &__content {
        padding: 24px 16px;
    }

    &__list {
        margin: 24px 0;
        list-style: none;
        padding: 0;

        &-item {
            font-size: 13px;
            line-height: 24px;
            display: grid;
            grid-template-columns: 102px 1fr;
            grid-gap: 4px;
            margin-bottom: 8px;
        }

        &-description {
            margin-bottom: 24px;
        }
    }

    &__label {
        color: $repo-label;
        display: inline-block;
        text-align: end;
    }

    &__value {
        &-name {
            color: $white;
            font-weight: bold;
        }

        &-description {
            color: $repo-description;
            display: inline-block;
        }

        &-link {
            color: $repo-label;
        }

        &-link a{
            color: $repo-link;
        }
    }
}

@media (min-width: $tablet) {
    .projects {
        &__grid {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (min-width: $desktop) {
    .projects {
        padding: 80px 32px 176px 32px;

        &__header {
            @include section-h2-desktop;
        }
      
        &__description {
            @include section-description-desktop;
            margin: 40px 0 0 0;
        }

        &__grid {
            max-width: 1184px;
            margin-top: 128px;
        }
    }

    .repo {
        &__content {
            padding: 20px 48px 34px 48px;
        }

        &__list {
            &-item {
                font-size: 16px;
            }
        }
    }
}
