.skills {
    padding: 64px 16px 88px 16px;
    background-color: $blue;
    color: $white;

    &__header {
        @include section-h2($white);
        margin: 0;
    }

    &__segment {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 64px;
    }

    &__emoji {
        font-size: 64px;
        line-height: 72px;
    }

    &__list-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 44px;
        margin: 16px 0 0 0;
    }

    &__list {
        color: $blue-light;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        width: 264px;
        list-style-type: none;
        padding: 0px;
        margin: 24px 0 0 0;

        &-item {
            background-repeat: no-repeat;
            background-position: 0 50%;
            padding-left: 24px;
            margin-bottom: 16px;
        }

        &--working li {
            background-image: url("../assets/img/green-tick.svg");
        }

        &--something li{
            background-image: url("../assets/img/blue-light-tick.svg");
        }

        &--want li{
            background-image: url("../assets/img/bullet.svg");
            background-position: 2% 50%;
        }
    }
}

@media (min-width: $desktop) {
    .skills {
        padding: 80px 32px 176px 32px;

        &__header {
            @include section-h2-desktop;
        }

        &__container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 24px;
            max-width: 1184px;
            margin: 0 auto;
        }

        &__segment {
            margin-top: 128px;
        }
    }
}